aiogram==3.13.1
asyncpg>=0.29.0
SQLAlchemy[asyncio]>=2.0.36
alembic>=1.14.0
redis>=5.2.0
aioredis>=2.0.1
yookassa>=3.4.0
qrcode[pil]>=8.0
Pillow>=10.0.0
python-dotenv>=1.0.1
APScheduler>=3.10.4
aiohttp>=3.9.0
pydantic>=2.10.0
pydantic-settings>=2.6.0
greenlet>=3.0.0
tzlocal>=5.0
pytz>=2024.1
