aiogram==3.13.1
asyncpg>=0.29.0
SQLAlchemy[asyncio]>=2.0.0
alembic>=1.13.0
redis>=5.0.0
yookassa>=3.0.0
qrcode[pil]>=7.4
Pillow>=10.0.0
python-dotenv>=1.0.0
APScheduler>=3.10.0
pydantic==2.7.4
pydantic-settings==2.3.4
tzlocal>=5.0
pytz>=2024.0
